<div class="container my-5">
  <h1>UIOWA-Account-String Examples</h1>
  <h2>Hover over elements to see description</h2>
  <div class="row">
    <h2>UI Account with no IACCT</h2>
    <div class="col-12">
      <uiowa-account-string [account]="account"></uiowa-account-string>
    </div>
  </div>

  <div class="row">
    <h2>UI Account with IACCT</h2>
    <div class="col-12">
      <uiowa-account-string [account]="account2"></uiowa-account-string>
    </div>
  </div>

  <div class="row">
    <h2>MFK from with option to YYYY out IACCT</h2>
    <div class="col-12">
      <uiowa-account-string [account]="account4" [options]="uiOptions"></uiowa-account-string>
    </div>
  </div>

  <div class="row">
    <h2>UNI Account with no OBJ and no UNI Foundation</h2>
    <div class="col-12">
      <uiowa-account-string [account]="accountUni"></uiowa-account-string>
    </div>
  </div>

  <div class="row">
    <h2>UNI Account with no OBJ but has Foundation</h2>
    <div class="col-12">
      <uiowa-account-string [account]="accountUni2"></uiowa-account-string>
    </div>
  </div>

  <div class="row">
    <h2>UNI Account with OBJ and Foundation</h2>
    <div class="col-12">
      <uiowa-account-string [account]="accountUni3"></uiowa-account-string>
    </div>
  </div>

  <div class="row">
    <h2>UNI Account with OBJ to ZZZZZ and Foundation</h2>
    <div class="col-12">
      <uiowa-account-string [account]="accountUni3" [options]="uniOptions"></uiowa-account-string>
    </div>
  </div>
</div>

<div class="container">
  <h2>Account Input</h2>
  <div class="row">
    <h2>First UIOWA Account Input</h2>
    <div class="col-12">
      <uiowa-account-input [account]="account" [options]="uiOptions" [index]="1"></uiowa-account-input>
    </div>
  </div>
  <div class="row">
    <h2>First UNI Account Input</h2>
    <div class="col-12">
      <uiowa-account-input [account]="accountUni" [options]="uniOptions" [index]="2"></uiowa-account-input>
    </div>
  </div>
</div>
